a.active{
    background-color: #80d8ff;
}
.width_main_table{
    min-width: 1004px;
}
.container_width_main{
    overflow-x:auto;
}
.small-input {
    /* 	float: left !important; */
    width: 200px !important;
}

.medium-input {
    /* 	float: left !important; */
    width: 500px !important;
}
.text-left .text-left{
    text-align: left;
}
.box1 .moveall{
    display: none !important;
}
.box1 .move{
    width:100% !important;
}
.box2 .removeall{
    display: none !important;
}
.box2 .remove{
    width:100% !important;
}
.container-listbox{
    padding: 20px;
}
.container-listbox select{
    padding: 10px 0px 0px 0px;
}
table.search td{
    padding: 5px;
}
#table_search{
    margin: 0px 0px 20px 0px;
}
#table_search td{
    padding: 5px 0px 5px 0px;
}
.combo-p .panel-body{
    padding: 0px;
}
.datagrid.easyui-fluid{
    width: 100% !important;
}
.form_search{
    padding-bottom: 15px;
}
.smallpicker{
    display: inline;
    width: 100px;
}
.textbox{
    padding-top: 5px;
}
.textbox-icon{
    height: 30px !important;
}
span.required{
    color: #FF0000;
}
.total_records{
    float: right;
    position: relative;
    top: -30px;
    right: 10px;
}
.table_search td{
    padding: 5px 10px 0px 0px;
}
.min-width-100{
    min-width: 200px;
}

.min-width-50{
    min-width: 50px;
}

div.dataTables_paginate{
    margin: 10px 10px 0px 0px;
}
.total{
    background-color: #FFFF99 !important;
}

.tax {
	background-color: #EEEEEE !important;
}
.realsl {
	color: #FFF;
	background-color: #669900 !important;
}

table.salary td,
table.salary th {
	min-width: 100px;
}
.combo-panel .panel{
    margin-bottom: 0px;
}